<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
    @*<link rel="stylesheet" asp-href-include="/assets/css/*.css" />*@
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="assets/css/templatemo-art-factory.css">
    <link rel="stylesheet" type="text/css" href="assets/css/owl-carousel.css">
    <link rel="stylesheet" type="text/css" href="assets/css/custom.css">
    <title>SHIKO | PetShop</title>
</head>
<body style="height: 100%; background-image: linear-gradient(to right top, #174890, #4167a8, #6588c0, #89aad8, #b0ccf0);">
    @*NAVBAR*@
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">SHIKO</a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            @*<li class="scroll-to-section"><a href="#welcome" class="active">Home</a></li>*@
                            <li class="scroll-to-section">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li class="scroll-to-section">@Html.ActionLink("All Products", "List", "Products")</li>
                            <li class="scroll-to-section"><a href="#about2">Services</a></li>
                            <li class="scroll-to-section"><a href="#services">Hot Products</a></li>
                            <li class="scroll-to-section">@Html.ActionLink("Cat", "Cat", "Home")</li>
                            <li class="submenu">
                                <a href="javascript:;">Category</a>
                                <ul>
                                    @*<li><a href="">About Us</a></li>
                                        <li><a href="">Features</a></li>
                                        <li><a href="">FAQ's</a></li>
                                        <li><a href="">Blog</a></li>*@
                                    <li>@await Component.InvokeAsync("NavigationMenu")</li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="#contact-us">Contact Us</a></li>
                            @await Component.InvokeAsync("CartSummary")
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>




    @RenderBody()



    @*SHARED/HOME/CONTACT-------------------------------------------------------*@
    @Html.Partial("Home/Contact")

    @*FOOTER*@
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <p class="copyright">
                        Copyright &copy; 2020 Art Factory Company

                        . Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a>
                    </p>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

</body>
</html>